<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden" data-header-color="black">
    <div class="z-30 relative h-full flex flex-col">
        <header>
            <h2 class="text-black pt-40 text-4xl font-medium">Model X</h2>
            <p class="text-black text-sm underline">Concerta una prueba de conducción</p>
        </header>
        <footer class="flex flex-grow justify-end flex-col p-20 align-middle items-center">
            <div class="flex flex-row gap-x-4">
                <a class="text-white border-[3px] border-gray-600 text-sm rounded font-medium px-12 py-2 inline-block bg-gray-600 hover:text-gray-600 hover:bg-gray-100 hover:border-gray-100 transition-colors" href="#">Explorar inventario</a>
                <a class="text-gray-600 border-[3px] border-gray-100 bg-gray-100 text-sm rounded font-medium px-12 py-2 inline-block hover:bg-gray-600 hover:border-gray-600 hover:text-gray-100 transition-colors" href="#">Pedido personalizado</a>
            </div>
            
        </footer>
    </div>
    

    
    <div class="absolute top-0 bottom-0 w-full h-full z-10">
        <img class="h-full w-full object-cover object-center" src="/Model-X.avif" alt="">
    </div>
    

</section>